<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Scanner</title>
</head>

<style>
    * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-color: rgb(2, 20, 36)
    }

    .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 20px;
    }

    .border {
        border-bottom: 1px solid white;
        padding: 20px;
    }
    .yellow{
        color: rgb(246, 223, 12);
    }
    h1{
        font-size: 50px;
    }
</style>

<body>
    
    <div class="container">
        <div class="border" style="display: flex; justify-items: center; gap: 20px; align-items: center;">
            <h1>Product Scanner</h1>
            <p class="yellow">Backend</p>
        </div>
    </div>
</body>

</html>